{% include 'inc/tables/tableheader.html' %}
				    <tbody>
			         	{% for item in items %}

			         	{% if item[4] == 1 %}

						{% if item[2] >= 1 %}
	                	<tr>
							{% include 'inc/tables/editcheck.html' %}
	                    	{% include 'inc/tables/types.html' %}
	                    	{% include 'inc/tables/editcheck2.html' %}
	                    </tr>
						{% endif %}

						{% endif %}

             			{% endfor %}
			        </tbody>
			</table>
			{% include 'inc/tables/tablefooter.html' %}