{% include 'inc/header.html' %}

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h1>Add An Item</h1>
			</div>
		</div>

		  <div class="row">
		    <form class="col s12" id="addItemForm">
		      <div class="row">

				{% if config.enablebarcodes == "on" %}
		        <div class="input-field col s4">
		          <input name="barcode" id="barcode" type="text">
		          <label for="barcode">Barcode</label>
		        </div>
				{% else %}
		          <input name="barcode" id="barcode" type="text" hidden value="off">
				{% endif %}

		        <div class="input-field col s4">
		          <input id="item_name" name="item_name" type="text">
		          <label for="item_name">Item Name</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col s2">
		          <input id="amount" name="amount" type="text">
		          <label for="amount">Amount</label>
		        </div>
		        <div class="input-field col s4">

					    <select id="type" name="type">
							<option value="" disabled selected>...</option>
							<option value="1">Fridge</option>
							<option value="2">Freezer</option>
							<option value="3">Cupboard</option>
							<option value="4">Vegetable</option>
							<option value="5">Fruit</option>
						</select>
						<label>Type of product</label>

		        </div>
		      </div>
		      <button id="addNewItem" class="waves-effect waves-light btn green z-depth-2" type="button">Add Item</button>
		      <a class="waves-effect waves-light btn red z-depth-2" href="/">Cancel</a>
		    </form>
		  </div>
	</div>
</div>

{% include 'inc/footer.html' %}