{% include 'header.html' %}

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h1>Edit Item</h1>
			</div>
		</div>

		  <div class="row">
		    <form class="col s12" id="editNameForm">
		      <div class="row">
		        <div class="input-field col s6">
					<input id="item_id" name="item_id" value="{{ itemID }}" type="hidden">
		          	<input id="new_item_name" name="item_name" type="text" value="{{ itemName }}">
		          <label for="item_name">Item Name</label>
		        </div>

		        <div class="input-field col s6">
		          	<input id="item_type" name="item_type" type="text" value="{{ itemType }}">
		          <label for="item_type">Item Type (1: Fridge, 2: Freezer, 3: Cupboard, 4: Veg)</label>
		        </div>
		      </div>
		      
		      <button id="saveItemName" class="waves-effect waves-light btn green z-depth-2" type="button" href="/edit/true">Update Item</button>
		      <a class="waves-effect waves-light btn red z-depth-2" href="#" onclick="history.go(-1)">Cancel</a>
		    </form>
		  </div>
	</div>
</div>

{% include 'footer.html' %}