</main>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/nav.js"></script>
<script type="text/javascript" src="/static/js/sortTable.js"></script>
<script type="text/javascript" src="/static/js/inventory.js"></script>


<footer class="footer-copyright">
		<div class="container center-align">
			v{{ version }} made with <i class="material-icons tiny">favorite</i> by <a href="https://github.com/fuzzymannerz" target="_blank">Fuzzy</a><br>
			<img src="/static/images/python.png" height="32px" width="auto">
		</div>
</footer>