{% include 'inc/header.html' %}

<div class="section" data-role="page" data-url="{{ url_for('main') }}" id="main">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h1><a href="/">{{ config.siteTitle }}</a></h1>
			</div>
		</div>
		<div class="row">
			<!-- Add & remove buttons -->
			<div class="col s6 left-align">
				
				{% if editMode %}
				<a class="waves-effect waves-light btn green z-depth-2 disabled" href="/add"><i class="material-icons left">add</i>Add</a>
				<a class="waves-effect waves-light btn brown z-depth-2" href="/"><i class="material-icons left">check</i>Done</a>
				{% else %}
				<a class="waves-effect waves-light btn green z-depth-2" href="/add"><i class="material-icons left">add</i>Add</a>
				<a class="waves-effect waves-light btn brown z-depth-2" href="/edit/true"><i class="material-icons left">edit</i>Edit</a>
				{% endif %}
			</div>

		</div>
	</div>
</div>

<div class="container">
		<div class="row">
			<div class="col s12">
				<ul class="tabs">
					<li class="tab col s2"><a href="#all">View All</a></li>
					<li class="tab col s2"><a href="#fridge">Fridge</a></li>
					<li class="tab col s2"><a href="#freezer">Freezer</a></li>
					<li class="tab col s2"><a href="#cupboard">Cupboard</a></li>
					<li class="tab col s2"><a href="#veg">Vegetables</a></li>
					<li class="tab col s2"><a href="#fruit">Fruit</a></li>
				</ul>
			</div>

			<!--<input type="text" id="tableSearch" onkeyup="tableSearch('tableSearch','table')" placeholder="Search..."> -->

			<div id="all" class="col s12">
				{% include '/inc/tables/all.html' %}
			</div>

			<div id="fridge" class="col s12">
				{% include '/inc/tables/fridge.html' %}
			</div>

			<div id="freezer" class="col s12">
				{% include '/inc/tables/freezer.html' %}
			</div>

			<div id="cupboard" class="col s12">
				{% include '/inc/tables/cupboard.html' %}
			</div>

			<div id="veg" class="col s12">
				{% include '/inc/tables/veg.html' %}
			</div>

			<div id="fruit" class="col s12">
				{% include '/inc/tables/fruit.html' %}
			</div>

		</div>
</div>

{% include 'inc/footer.html' %}